<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <full_page_cache>
                <varnish>
                    <enable_bfcache>1</enable_bfcache>
                    <enable_media_cache>0</enable_media_cache>
                    <enable_static_cache>0</enable_static_cache>
                    <tracking_parameters>
                        <param__branch_match_id><param>_branch_match_id</param></param__branch_match_id>
                        <param__bta_c><param>_bta_c</param></param__bta_c>
                        <param__bta_tid><param>_bta_tid</param></param__bta_tid>
                        <param__ga><param>_ga</param></param__ga>
                        <param__gl><param>_gl</param></param__gl>
                        <param__ke><param>_ke</param></param__ke>
                        <param__kx><param>_kx</param></param__kx>
                        <param_campid><param>campid</param></param_campid>
                        <param_cof><param>cof</param></param_cof>
                        <param_customid><param>customid</param></param_customid>
                        <param_cx><param>cx</param></param_cx>
                        <param_dclid><param>dclid</param></param_dclid>
                        <param_dm_i><param>dm_i</param></param_dm_i>
                        <param_ef_id><param>ef_id</param></param_ef_id>
                        <param_epik><param>epik</param></param_epik>
                        <param_fbclid><param>fbclid</param></param_fbclid>
                        <param_gad_source><param>gad_source</param></param_gad_source>
                        <param_gad_campaignid><param>gad_campaignid</param></param_gad_campaignid>
                        <param_gbraid><param>gbraid</param></param_gbraid>
                        <param_gclid><param>gclid</param></param_gclid>
                        <param_gclsrc><param>gclsrc</param></param_gclsrc>
                        <param_gdffi><param>gdffi</param></param_gdffi>
                        <param_gdfms><param>gdfms</param></param_gdfms>
                        <param_gdftrk><param>gdftrk</param></param_gdftrk>
                        <param_gPromoCode><param>gPromoCode</param></param_gPromoCode>
                        <param_gQT><param>gQT</param></param_gQT>
                        <param_hsa_acc><param>hsa_acc</param></param_hsa_acc>
                        <param_hsa_ad><param>hsa_ad</param></param_hsa_ad>
                        <param_hsa_cam><param>hsa_cam</param></param_hsa_cam>
                        <param_hsa_grp><param>hsa_grp</param></param_hsa_grp>
                        <param_hsa_kw><param>hsa_kw</param></param_hsa_kw>
                        <param_hsa_mt><param>hsa_mt</param></param_hsa_mt>
                        <param_hsa_net><param>hsa_net</param></param_hsa_net>
                        <param_hsa_src><param>hsa_src</param></param_hsa_src>
                        <param_hsa_tgt><param>hsa_tgt</param></param_hsa_tgt>
                        <param_hsa_ver><param>hsa_ver</param></param_hsa_ver>
                        <param_igshid><param>igshid</param></param_igshid>
                        <param_irclickid><param>irclickid</param></param_irclickid>
                        <param_matomo_campaign><param>matomo_campaign</param></param_matomo_campaign>
                        <param_matomo_cid><param>matomo_cid</param></param_matomo_cid>
                        <param_matomo_content><param>matomo_content</param></param_matomo_content>
                        <param_matomo_group><param>matomo_group</param></param_matomo_group>
                        <param_matomo_keyword><param>matomo_keyword</param></param_matomo_keyword>
                        <param_matomo_medium><param>matomo_medium</param></param_matomo_medium>
                        <param_matomo_placement><param>matomo_placement</param></param_matomo_placement>
                        <param_matomo_source><param>matomo_source</param></param_matomo_source>
                        <param_mc_cid><param>mc_cid</param></param_mc_cid>
                        <param_mc_eid><param>mc_eid</param></param_mc_eid>
                        <param_mkcid><param>mkcid</param></param_mkcid>
                        <param_mkevt><param>mkevt</param></param_mkevt>
                        <param_mkrid><param>mkrid</param></param_mkrid>
                        <param_mkwid><param>mkwid</param></param_mkwid>
                        <param_msclkid><param>msclkid</param></param_msclkid>
                        <param_mtm_campaign><param>mtm_campaign</param></param_mtm_campaign>
                        <param_mtm_cid><param>mtm_cid</param></param_mtm_cid>
                        <param_mtm_content><param>mtm_content</param></param_mtm_content>
                        <param_mtm_group><param>mtm_group</param></param_mtm_group>
                        <param_mtm_keyword><param>mtm_keyword</param></param_mtm_keyword>
                        <param_mtm_medium><param>mtm_medium</param></param_mtm_medium>
                        <param_mtm_placement><param>mtm_placement</param></param_mtm_placement>
                        <param_mtm_source><param>mtm_source</param></param_mtm_source>
                        <param_ndclid><param>ndclid</param></param_ndclid>
                        <param_pcrid><param>pcrid</param></param_pcrid>
                        <param_piwik_campaign><param>piwik_campaign</param></param_piwik_campaign>
                        <param_piwik_keyword><param>piwik_keyword</param></param_piwik_keyword>
                        <param_piwik_kwd><param>piwik_kwd</param></param_piwik_kwd>
                        <param_pk_campaign><param>pk_campaign</param></param_pk_campaign>
                        <param_pk_keyword><param>pk_keyword</param></param_pk_keyword>
                        <param_pk_kwd><param>pk_kwd</param></param_pk_kwd>
                        <param_redirect_log_mongo_id><param>redirect_log_mongo_id</param></param_redirect_log_mongo_id>
                        <param_redirect_mongo_id><param>redirect_mongo_id</param></param_redirect_mongo_id>
                        <param_rtid><param>rtid</param></param_rtid>
                        <param_s_kwcid><param>s_kwcid</param></param_s_kwcid>
                        <param_sb_referer_host><param>sb_referer_host</param></param_sb_referer_host>
                        <param_ScCid><param>ScCid</param></param_ScCid>
                        <param_si><param>si</param></param_si>
                        <param_sms_click><param>sms_click</param></param_sms_click>
                        <param_sms_source><param>sms_source</param></param_sms_source>
                        <param_sms_uph><param>sms_uph</param></param_sms_uph>
                        <param_srsltid><param>srsltid</param></param_srsltid>
                        <param_toolid><param>toolid</param></param_toolid>
                        <param_trk_contact><param>trk_contact</param></param_trk_contact>
                        <param_trk_module><param>trk_module</param></param_trk_module>
                        <param_trk_msg><param>trk_msg</param></param_trk_msg>
                        <param_trk_sid><param>trk_sid</param></param_trk_sid>
                        <param_ttclid><param>ttclid</param></param_ttclid>
                        <param_tw_adid><param>tw_adid</param></param_tw_adid>
                        <param_tw_campaign><param>tw_campaign</param></param_tw_campaign>
                        <param_tw_content><param>tw_content</param></param_tw_content>
                        <param_tw_source><param>tw_source</param></param_tw_source>
                        <param_tw_term><param>tw_term</param></param_tw_term>
                        <param_twclid><param>twclid</param></param_twclid>
                        <param_utm_campaign><param>utm_campaign</param></param_utm_campaign>
                        <param_utm_content><param>utm_content</param></param_utm_content>
                        <param_utm_creative_format><param>utm_creative_format</param></param_utm_creative_format>
                        <param_utm_id><param>utm_id</param></param_utm_id>
                        <param_utm_marketing_tactic><param>utm_marketing_tactic</param></param_utm_marketing_tactic>
                        <param_utm_medium><param>utm_medium</param></param_utm_medium>
                        <param_utm_source><param>utm_source</param></param_utm_source>
                        <param_utm_source_platform><param>utm_source_platform</param></param_utm_source_platform>
                        <param_utm_term><param>utm_term</param></param_utm_term>
                        <param_vmcid><param>vmcid</param></param_vmcid>
                        <param_wbraid><param>wbraid</param></param_wbraid>
                        <param_yclid><param>yclid</param></param_yclid>
                        <param_zanpid><param>zanpid</param></param_zanpid>
                    </tracking_parameters>
                    <use_xkey_vmod>0</use_xkey_vmod>
                    <use_soft_purging>0</use_soft_purging>
                    <ip_forward_header>X-Forwarded-For</ip_forward_header>
                </varnish>
            </full_page_cache>
        </system>
    </default>
</config>
