<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\PageCache\Model\Varnish\VclGenerator">
        <plugin name="AddReplacements" type="Elgentos\VarnishExtended\Plugin\AddReplacementsPlugin"/>
    </type>
    <preference for="Magento\PageCache\Console\Command\GenerateVclCommand" type="Elgentos\VarnishExtended\Console\Command\GenerateVclCommand"/>
</config>
