<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Elgentos\VarnishExtended\Model\TemplateFactory">
        <arguments>
            <argument name="directiveProcessors" xsi:type="array">
                <item name="if" xsi:type="object">Elgentos\VarnishExtended\Filter\IfDirective</item>
                <item name="for" xsi:type="object">Elgentos\VarnishExtended\Filter\ForDirective</item>
                <item name="var" xsi:type="object">Magento\Framework\Filter\DirectiveProcessor\VarDirective</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\PageCache\Console\Command\GenerateVclCommand"
                type="Elgentos\VarnishExtended\Console\Command\GenerateVclCommand"/>
    <preference for="Magento\PageCache\Model\Varnish\VclGenerator"
                type="Elgentos\VarnishExtended\Model\Varnish\VCLGenerator"/>
    <preference for="Magento\PageCache\Model\VclTemplateLocatorInterface"
                type="Elgentos\VarnishExtended\Model\Varnish\VCLTemplateLocator"/>
    <preference for="Magento\CacheInvalidate\Model\PurgeCache"
                type="Elgentos\VarnishExtended\Model\PurgeCache"/>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="elgentos_varnish_test_fixtures" xsi:type="object">Elgentos\VarnishExtended\Console\Command\TestFixturesCommand</item>
            </argument>
        </arguments>
    </type>
</config>
