<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="system">
            <group id="full_page_cache">
                <group id="varnish">
                    <comment><![CDATA[<strong>Note:</strong> When changing these settings, these are <strong>not applied automatically</strong> to any currently loaded VCL! Read the README of the <a href="https://github.com/elgentos/magento2-varnish-extended" target="_new">elgentos/magento2-varnish-extended extension on GitHub</a>.]]></comment>
                    <field id="grace_period">
                        <comment>Specify grace period in seconds for config file generation. If field is empty default value 300 will be saved. This grace period will be used to serve cached content when the server is healthy. If the server is not healthy, cached content will be served for 1 day before failing.</comment>
                    </field>
                    <field id="enable_bfcache" type="select" translate="label comment" sortOrder="30" showInDefault="1">
                        <label>Enable Back/forward cache</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[Enable Back/forward cache functionality. See <a href="https://web.dev/articles/bfcache" target="_new">web.dev</a> for more info on bfcache.]]></comment>
                        <depends>
                            <field id="caching_application">1</field>
                        </depends>
                    </field>
                    <field id="tracking_parameters" type="text" translate="label comment" sortOrder="31" showInDefault="1">
                        <label>Tracking Parameters</label>
                        <comment><![CDATA[Specify tracking parameters to strip off of incoming requests to increase hit rate. See the <a href="https://github.com/mpchadwick/tracking-query-params-registry" target="_new">tracking query parameters registry</a> for a list of known parameters.]]></comment>
                        <depends>
                            <field id="caching_application">1</field>
                        </depends>
                    </field>

                    <field id="use_xkey_vmod" type="select" translate="label comment" sortOrder="35" showInDefault="1">
                        <label>Use xkey VMOD</label>
                        <comment><![CDATA[Varnish xkey vmod is installed. See <a target="_blank" href="https://github.com/varnish/varnish-modules/blob/master/src/vmod_xkey.vcc">Varnish VMOD xkey</a>.]]></comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
